<template name="DataGrid">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="data-grid" class="p-3">
        <table ref="dataset" class="table table-striped dataTable" v-once>
          <thead>
            <tr>
              <th>FULL NAME</th>
              <th>IMAGES</th>
              <th>SYMBOL</th>
              <th>ALGORITHM</th>
              <th>PROOF TYPE</th>
              <th>SUPPLIES</th>
              <th>TRADING</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(coin, index) in records" :key="index">
              <td>{{coin.FullName}}</td>
              <td>
                <a :href="'https://cryptocompare.com' + coin.Url" target="_blank"><img
                  :data-src="'https://cryptocompare.com' + coin.ImageUrl"
                  :alt="coin.FullName"
                  width="64px"
                  height="64px"
                  class="img-thumbnail rounded lozad"
                /></a>
              </td>

              <td>{{coin.Symbol}}</td>
              <td>{{coin.Algorithm}}</td>
              <td>{{coin.ProofType}}</td>
              <td>{{coin.TotalCoinSupply}}</td>
              <td><i class="fa fa-check" v-show="coin.IsTrading">&nbsp;</i>
              <i class="fa fa-times" v-show="!coin.IsTrading">&nbsp;</i>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-warning" v-else>
          <h5>Empty Dataset</h5>
          <p>There are no records in the provided dataset</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import lozad from "lozad";

export default {
  name: "DataGrid",
  data() {
    return {
      columns: [
        { label: "COIN NAME", field: "CoinName" },
        { label: "PROOF TYPE", field: "ProofType" },
        { lable: "ALGORITHM", field: "Algorithm" },
        { label: "TRADING", field: "IsTrading" },
        { label: "SUPPLIES", field: "TotalCoinSupply" }
      ],      
    };
  },
  props: {
    records: {
      type: Array,
      required: false
    }
  },
  mounted() {
    const observer = lozad(".lozad", {
      threshold: 0.5
    });
    observer.observe();
    
    $(this.$refs['dataset']).DataTable()
  },
  
};
</script>

<style scoped>

thead td {
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
}
tbody tr td {
  text-transform: capitalize;
}

</style>
