<template name="Loading">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="loading">
        <div class="row">
          <div class="col-12" :class="{loading: trigger}" v-if="trigger">
            <img src="~/assets/images/spinner.svg" :alt="message" class="d-block mx-auto" />
            <div class="col-12">
                <slot class="text-align-center d-block col mx-auto"></slot>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Loading",
  props: {
    imagePath: {
      type: String,      
    },
    trigger: {
      type: Boolean,
      default: false
    },
    message: {
      type: String,
      default: "Loading..."
    }
  }
};
</script>
<style scoped>
.loading {
  background: transparent;
  width: 100%;
  position: absolute;
  top: 35%;
  margin: 10px auto;
  z-index: 30000;
}
</style>