<template name="Navigation">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="Navigation">
        <nav class="mt-5 mb-n1">
          <div class="row">
            <div class="col-2">
              <div class="logo">
              <nuxt-link to="/" >  <img src="../../assets/images/explorer_mascot.png" alt="Bitmast Digital Services Logo" /></nuxt-link>
              </div>
              
            </div>            
            <div class="col">              
              <div class="float-left company-name">
                <h5 >Bitmast Explorer</h5>
              </div>
              <ul class="nav justify-content-center nav-pills flex-md-row">
                <nuxt-link to="/" tag="li" active-class="active" class="nav-link" exact >
                  Home
                </nuxt-link>

                <nuxt-link
                  to="/assets"
                  tag="li"
                  active-class="active"
                  class="nav-link"
                >
                  Assets
                </nuxt-link>

                <nuxt-link to="/exchanges" tag="li" active-class="active" class="nav-link">
                  Exchanges
                </nuxt-link>

                <nuxt-link to="/trades" tag="li" active-class="active" class="nav-link">
                  Trades
                </nuxt-link>

                
                <nuxt-link to="/news" tag="li" active-class="active" class="nav-link">
                  News
                </nuxt-link>

                <nuxt-link to="/price" tag="li" active-class="active" class="nav-link">
                  Prices
                </nuxt-link>

                <nuxt-link to="/contact" tag="li" active-class="active" class="nav-link">
                  Contact
                </nuxt-link>

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    
}
</script>

<style scoped>
nav {  
  width: 100%; 
  height: auto; 
  padding: 20px 10px 0px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav li {
    margin:auto 10px;
}
nav li:hover {
    background-color: rgb(117, 184, 255);
    cursor: pointer;
}
.company-name h5{
  font-weight: bold;
  vertical-align: middle;
  top: 80%;
  left: -3%;
  position: absolute;
  z-index: 3000;
  font-size: 1.5rem;
}

</style>
