<template name="NewsDataGrid">
    <div class="component">
        <div class="component-wrapper">
            <div data-component-name="news-data-grid">
                <div class="row grid-row pb-4 mb-3">
            <div class="col">
              <div class="row mb-3">
                <div class="col">
                  <img :src="item.imageurl" :alt="item.title" class="img-thumbnail rounded" />
                </div>
                <div class="col-10">
                  <p class="h3 news-caption">
                    <a :href="item.url" target="_blank">{{item.title}}</a>
                  </p>

                  <p>
                    <a :href="item.url" target="_blank" class="text-decoration-none">{{item.guid}}</a>
                  </p>
                  <p class="news-body">{{item.body}}</p>
                  <p class="news-source">{{item.source}}</p>
                  <p class="news-category">{{item.categories}}</p>
                </div>
              </div>

              <div class="news-statistics col-12">
                <ul class="list-inline">
                  <li class="list-inline-item" title="Up Votes">
                    <i class="fa fa-thumbs-up">&nbsp;</i>
                    <span class="value stats">{{item.upvotes}}</span>
                  </li>
                  <li class="list-inline-item" title="Down Votes">
                    <i class="fa fa-thumbs-down">&nbsp;</i>
                    <span class="value stats">{{item.downvotes}}</span>
                  </li>
                  <li class="list-inline-item" title="Tags">
                    <i class="fa fa-tags">&nbsp;</i>
                    <span class="value stats">{{item.tags}}</span>
                  </li>
                  <li class="list-inline-item last" title="Language">
                    <i class="fa fa-language">&nbsp;</i>
                    <span class="value stats">{{item.lang}}</span>
                  </li>
                </ul>
              </div>
            </div>
            
          </div>
          
<!-- end -->
            </div>
        </div>
    </div>
    
</template>
<script>

import lozad from "lozad";

export default {
    name: "NewsDataGrid",
    data(){
        return {
            news: null
        }
    },
    props: {
        item: {
            type: Object,
            required: true
        }
    },
    mounted() {
        
    }
}
</script>
<style scoped>
.grid-row {
    border-bottom: 1px solid #d0d0d0;
}
.news-caption a {
  color: #77787d;
}
.news-caption a:hover {
  text-decoration: none;
  color: #3f426a;
}
.news-category,
news-source {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.news-body {
  font-size: 1rem;
}
.news-body img {
  width: 150px;
  height: 150px;
}
.news-statistics li {
  border-right: 1px #c0c0c0 solid;
  padding: 0rem 0.125rem;
}
.news-statistics li.last {
  border: none;
}
.news-statistics span {
  color: #000;
  font-size: 1rem;
  margin-right: 0.7rem;
}
.stats {
  color: #2a2d58;
  font-size: 0.85rem;
  font-family: "Courier New", Courier, monospace;
}
</style>