<template name="Share">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="share">        
        <ul class="nav flex-column">
          <li class="nav-item first">
            <a              
              href="https://www.facebook.com/BitmastCo/"
              target="_blank"              
            ><img class="d-block" src="~/assets/images/facebook@48px.svg" alt="Facebook" width="48px" height="48px"/></a>
          </li>

          <li class="nav-item">
            <a
              href="https://twitter.com/bitmastco"
              target="_blank"              
            ><img class="d-block" src="~/assets/images/twitter@48px.svg" alt="Twitter" width="48px" height="48px"/></a>
          </li>

          <li class="nav-item">
            <a
              href="https://t.me/joinchat/J7Js0EXSzF9FyEx1Z1OtKw"
              target="_blank"              
            ><img class="d-block" src="~/assets/images/telegram@48px.svg" alt="Telegram" width="48px" height="48px"/></a>
          </li>

          <li class="nav-item last">
            <a
              href="https://www.instagram.com/bitmastco/"
              target="_blank"              
            ><img class="d-block" src="~/assets/images/instagram@48px.svg" alt="Instagram" width="48px" height="48px"/>
            </a>
          </li>

          
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Share",
  data() {
    return {
      
    };
  }
};
</script>
<style scoped>
.nav {  
  position: -webkit-sticky;
  position: fixed;
  top: 50%;
  right: 0px;
  width: 68px;
  padding-right: 10px;
}
.nav-item {
  padding: 0px;
  margin: 10px 0px 0px;
  width: auto;
  height: 48px;
}
li.last {
  margin-top: 10px;
}

</style>