<template name="Charts">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="charts">
              <div class="my-3">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                  <div :id="container_id"></div>
                  <div class="tradingview-widget-copyright">
                    <a
                      :href="'https://www.tradingview.com/symbols/BITSTAMP-BTCUSD/' + symbol.replace(':', '-')"
                      rel="noopener"
                      target="_blank"
                    >
                      <span class="blue-text">{{chart_title}}</span>
                    </a> by TradingView
                  </div>
                </div>
                <!-- TradingView Widget END -->
              </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: "Charts",
  data() {
    return {};
  },
  props: {
    width: {
      type: Number,
      default: 980
    },
      height: {
        type: Number,
        default: 610
      },
      symbol: {
        type: String,
        required: true
      },
      interval: {
        type: String,
        default: "D"
      },
      timezone: {
        type: String,
        required: true
      },
      theme: {
        type: String,
        default: "Light"
      },
      chart_style: {
        type: String,
        default: "1"
      },
      locale: {
        type: String,
        default: "en",
      },
      toolbar_bg: {
        type: String,
        default: "#f1f3f6"
      },
      enable_publishing: {
        type: Boolean,
        default: false
      },
      allow_symbol_change: {
        type: Boolean,
        default: true
      },
      container_id: {
        type: String,
        required: true
      },
      chart_title: {
        type: String,
        required: true
      }
  },
  mounted() {
    new TradingView.widget({
      width: this.width,
      height: this.height,
      symbol: this.symbol,
      interval: this.interval,
      timezone: this.timezone,
      theme: this.theme,
      style: this.chart_style,
      locale: this.locale,
      toolbar_bg: this.toolbar_bg,
      enable_publishing: this.enable_publishing,
      allow_symbol_change: this.allow_symbol_change,
      container_id: this.container_id
    });
  }
};
</script>
<style scoped>
</style>