<template name="TopTradingPairs">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="top-trading-pairs">
        <hr />
        <div class="row">
          <div class="col">
            <loading :trigger="trigger" />
          </div>
        </div>
        <div class="row px-3 my-5">
          <div class="col-12">
            <button
              id="fiatBtn"
              class="btn btn-success d-block float-right mb-3"
              @click="refresh"
            >Refresh</button>
          </div>
          <div class="col-12">
            <multiple-symbol-data-grid
              :targets="fiatLabels.headings"
              :sources="fiatLabels.rows"
              :results="fiatTopPairs"
            ></multiple-symbol-data-grid>
          </div>
        </div>
        <hr />
        <div class="row px-3 my-5">
          <div class="col-12">
            <multiple-symbol-data-grid
              :targets="cryptoLabels.headings"
              :sources="cryptoLabels.rows"
              :results="cryptoTopPairs"
            ></multiple-symbol-data-grid>
          </div>
        </div>
        
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MulitpleSymbolDataGrid from "~/components/generic/calculator/MultipleSymbolDataGrid.vue";
import axios from "axios";
import fetchTradeData from "~/components/trade-data.js";
import Loading from "~/components/generic/Loading.vue"

const processLabels = data => {
  var rows = Object.getOwnPropertyNames(data);
  rows.pop();
  var headings = [];
  var record = data[rows[0]];
  if (record) {
    headings = Object.getOwnPropertyNames(record);
  }
  headings.pop();
  return { headings: headings, rows: rows };
};

export default {
  
  name: "TopTradingPairs",
  data() {
    return {
      cryptoTargets: ["BTC", "ETH", "LTC", "BCH", "XMR", "XRP"],
      cryptoSources: ["BTC", "ETH", "DASH", "XRP"],
      cryptoTopPairs: {},
      fiatTargets: ["NGN", "USD", "GBP", "EUR", "CAD"],
      fiatSources: ["BTC", "ETH", "LTC", "BCH", "XMR"],
      fiatTopPairs: {},
      topPairs: {},
      errorOccurred: true,
      error: {},
      isConverted: false,
      refreshDetails: null,
      enableCryptoRefresh: false,
      enableFiatRefresh: false,
      trigger: true
    };
  },
  methods: {
    async refresh() {
      
      this.trigger = true;
      let fiatResponse = await fetchTradeData(
        this.fiatSources,
        this.fiatTargets
      );
      this.fiatTopPairs = fiatResponse.tradePairs;
      this.isConverted = fiatResponse.isConverted;
      this.errorOccurred = !fiatResponse.isConverted;
      let cryptoResponse = await fetchTradeData(
        this.cryptoSources,
        this.cryptoTargets
      );
      this.cryptoTopPairs = cryptoResponse.tradePairs;
      this.isConverted = cryptoResponse.isConverted;
      this.errorOccurred = !cryptoResponse.isConverted;
      setTimeout(() => {this.trigger = false}, 3000)
    }
  },
  mounted() {
    setTimeout(async () => {

    let fiatResponse = await fetchTradeData(this.fiatSources, this.fiatTargets);
    this.fiatTopPairs = fiatResponse.tradePairs;
    this.isConverted = fiatResponse.isConverted;
    this.errorOccurred = !fiatResponse.isConverted;
    let cryptoResponse = await fetchTradeData(
      this.cryptoSources,
      this.cryptoTargets
    );
    this.cryptoTopPairs = cryptoResponse.tradePairs;
    this.isConverted = cryptoResponse.isConverted;
    this.errorOccurred = !cryptoResponse.isConverted;
    }, 500);

    this.$nextTick(() => {
      setTimeout(()=>{this.trigger = false}, 2000);
    });
  },  
  computed: {
    cryptoLabels() {
      let { headings, rows } = processLabels(this.cryptoTopPairs);
      return { headings: headings, rows: rows };
    },
    fiatLabels() {
      let { headings, rows } = processLabels(this.fiatTopPairs);
      return { headings: headings, rows: rows };
    }
  },
  components: {
    "multiple-symbol-data-grid": MulitpleSymbolDataGrid,
    Loading
  }
};
</script>
