<template name="CalculatorMultiple">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="calculator-multiple">
        <div class="calculator mx-auto p-3">
          <div class="card m-0">
            <div class="card-header">
              <h5>
                Currency Converter
                <span
                  class="small font-weight-bold d-block float-right"
                >Multiple Symbol</span>
              </h5>
            </div>
            <div class="card-body">
              <div class="col p-3">
                <form id="multiple-symbol-conversion" ref="multiCalculatorForm">
                  <div class="row">
                    <div class="col">
                      <div class="h5">From currency</div>
                      <div class="form-group">
                        <select
                          class="custom-select browser-default"
                          id="fromSymbol"
                          required
                          multiple
                          v-model="calculator.sources"
                        >
                          <option disabled>Choose Coin</option>
                          <option v-for="(key, value) in fromCurrency" :value="key" :key="key">
                            {{value}}&nbsp;
                            <span>({{key}})</span>
                          </option>
                        </select>
                        <p class="small py-0 mt-2">
                          Multiple currencies can be selected by holding
                          SHIFT/CTRL/CMD key
                        </p>
                      </div>
                    </div>
                    <div class="col">
                      <div class="h5">To currency</div>

                      <div class="form-group">
                        <select
                          class="custom-select browser-default"
                          id="toSymbol"
                          required
                          multiple
                          v-model="calculator.targets"
                        >
                          <option disabled>Choose Symbols</option>
                          <option v-for="(key, value) in toCurrency" :value="key" :key="key">
                            {{value}}&nbsp;
                            <span>({{key}})</span>
                          </option>
                        </select>
                        <p class="small py-0 mt-2">
                          Multiple currencies can be selected by holding
                          SHIFT/CTRL/CMD key
                        </p>
                      </div>
                      <div class="row mt-n1 mb-3">
                        <div class="col">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input
                              type="radio"
                              id="fiatSelect"
                              checked
                              name="currencySelect"
                              class="custom-control-input"
                              @click="chooseSymbol"
                            />
                            <label class="custom-control-label" for="fiatSelect">Fiat</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input
                              type="radio"
                              id="cryptoSelect"
                              name="currencySelect"
                              class="custom-control-input"
                              @click="chooseSymbol"
                            />
                            <label class="custom-control-label" for="cryptoSelect">Cryptocurrency</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-right">
                      <button class="btn btn-success" @click.prevent="fetchData">Fetch Data</button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <p>
                        <span>Data provided by</span>
                        <a
                          class="text-information"
                          href="https://min-api.cryptocompare.com/documentation"
                        >Cryptocompare</a>
                      </p>
                      <p class="small">
                        <a href="#" class="text-dark">Disclaimer</a>
                      </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row px-3 mt-5">
            <loading :trigger="loading">
              <span v-if="loading" class="small">Processing data...</span>
            </loading>
            <div class="col-12 result rounded" v-if="showResult">
              <div class="dataset px-3">
                <h5 class="py-3">Conversion Data</h5>

                <div class="dataset-display py-3">
                  <multiple-symbol-data-grid
                    :targets="calculator.targets"
                    :sources="calculator.sources"
                    :results="calculator.results"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import all_coins from "~/static/coins.json";
import supported_fiats from "~/static/currency.json";
import MultipleSymbolDataGrid from "./MultipleSymbolDataGrid.vue";
import Loading from "../Loading.vue";

export default {
  name: "CalculatorMultiple",
  data() {
    return {
      fromCurrency: all_coins,
      toCurrency: supported_fiats,
      calculator: {
        targets: [],
        sources: [],
        results: {}
      },
      showResult: false,
      error: {
        networkError: false,
        applicationError: false,
        paramWithError: null,
        warning: null,
        message: null,
        payload: null
      },
      isConverted: false,
      conversionDetails: null,
      errorOccurred: false,
      loading: false
    };
  },
  methods: {
    chooseSymbol(event) {
      if (event.target.id == "fiatSelect") {
        this.toCurrency = supported_fiats;
      } else if (event.target.id == "cryptoSelect") {
        this.toCurrency = all_coins;
      }
    },
    fetchData() {
      const url = "https://min-api.cryptocompare.com/data/pricemulti";
      this.loading = true;
      axios
        .get(url, {
          params: {
            fsyms: this.calculator.sources.join(","),
            tsyms: this.calculator.targets.join(","),
            relaxedValidation: false,
            extraParams: "Bitmast Explorer",
            sign: false
          }
        })
        .then(response => {
          // process response for error or data
          const data = response.data;
          if (
            data.hasOwnProperty("Warning" || data.hasOwnProperty("Response"))
          ) {
            this.errorOccurred = true;
            this.error = {
              networkError: false,
              applicationError: true,
              paramWithError: data.ParamWithError,
              warning: data.Warning,
              message: data.Message,
              payload: null
            };
          } else {
            // evaluate data has all sources
            for (var source in this.calculator.sources) {
              
              if (data.hasOwnProperty(source)) {     
                continue;
              } else {
                data[source] = "No conversion data";
              }
            }
            this.calculator.results = data;
            this.isConverted = true;
          }
          // if isConverted, then show result
          if (!this.errorOccurred && this.isConverted) {
            this.showResult = true;
            this.loading = false;
          }
        })
        .catch(error => {
          this.error.networkError = true;
          this.error.payload = error;
          console.log(error);
        });
    }
  },
  components: {
    "multiple-symbol-data-grid": MultipleSymbolDataGrid,
    "loading": Loading
  }
};
</script>

<style scoped>
select#toSymbol {
  background-color: #ffd700;
}
select#fromSymbol {
  background-color: #fff;
}
.result {
  background-color: #fff;
}
.result h5 {
  padding: 0.5rem;
}
  
  

</style>