<template name="MultipleSymbolDataGrid">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="mulitiple-symbol-data-grid">
        <div class="row">
          <div class="col-sm-12">
            <table
              ref="dataset"
              class="table table-striped table-bordered dataTable conversion-table"
            >
              <thead>
                <tr>
                  <th>Conversion Symbols</th>
                  <th v-for="(heading, rowIndex) in targets" :key="rowIndex">
                    <strong>{{heading}}</strong>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="row  in sources" :key="row">
                  <td>{{row}}</td>
                  <td
                    v-for="(cell, cdx) in targets"
                    :key="cdx"
                  >{{results[row][cell] | commaSeparator}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "MultipleSymbolDataGrid",
  props: {
    targets: {
      type: Array,
      required: true
    },
    sources: {
      type: Array,
      required: true
    },
    results: {
      type: Object,
      required: true
    }
  },
  filters: {
    commaSeparator(value) {
      let number = parseFloat(value);
      if (Number.isNaN(number)) {
        return value;
      } else {
        return new Intl.NumberFormat().format(number);
      }
    }
  }
};
</script>
