<template name="CalculatorSingle">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="single-calculator">
        <div class="calculator p-3">
          <div class="card">
            <div class="card-header">
              <h5>
                Currency Converter
                <span
                  class="small font-weight-bold d-block float-right"
                >Single Symbol</span>
              </h5>
              <div class="clearfix"></div>
            </div>
            <div class="card-body">
              <div class="mx-auto p-3">
                <form id="single-symbol-conversion" ref="calculatorForm">
                  <div class="row">
                    <div class="col-7 mr-3">
                      <div class="h5">Amount</div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="number"
                          id="amount"
                          required
                          step="0.0001"
                          placeholder="Enter amount"
                          v-model="amount"
                          @input="$v.amount.$touch()"
                        />
                      </div>
                      <div
                        class="form-error"
                        v-if="$v.amount.$error"
                      >The amount provided should be numeric</div>
                    </div>
                    <div class="col">
                      <div class="h5">From</div>
                      <div class="form-group">
                        <select
                          class="custom-select browser-default"
                          type="number"
                          id="fromSymbol"
                          name="fromSymbol"
                          required
                          v-model="fromSymbol"
                        >
                          <option selected>Choose Coin</option>
                          <option v-for="(key, value) in coins" :value="key" :key="key">
                            {{value}}
                            <span>({{key}})</span>
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7 mr-3">
                      <div class="h5">Calculated</div>
                      <div class="form-group">
                        <div class="input-group">
                          <input
                            class="form-control"
                            type="text"
                            id="result"
                            ref="resultText"
                            readonly
                            v-model="result"
                          />
                          <div class="input-group-append">
                            <a
                              href="#"
                              class="btn btn-primary"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Copy value"
                              @click.prevent="copyText"
                            >
                              <i class="fa fa-copy">&nbsp;</i>
                            </a>
                          </div>
                        </div>

                        <div :class="{copied: isCopied}" class="col-12" v-if="isCopied">
                          <strong>Copied</strong>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="h5">To</div>
                      <div class="form-group">
                        <select
                          class="custom-select browser-default"
                          type="number"
                          id="toSymbol"
                          required
                          v-model="toSymbol"
                        >
                          <option selected>Choose Currency</option>
                          <option v-for="(key, value) in fiat" :value="key" :key="key">
                            {{value}}&nbsp;
                            <span>({{key}})</span>
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="float-right">
                        <button
                          class="btn btn-danger mr-4"
                          @click.prevent="resetCalculator"
                          type="reset"
                        >Reset</button>

                        <button
                          class="btn btn-primary float-right"
                          @click.prevent="calculatePrice"
                        >Convert</button>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div
                    ref="conversionAlert"
                    class="alert alert-warning col-12"
                    v-show="isConverted"
                    v-html="conversionDetails"
                    role="alert"
                  ></div>

                  <div
                    v-if="errorOccurred"
                    ref="errorAlert"
                    class="alert alert-info"
                    :class="{error: errorOccurred}"
                  >
                    <h5>{{error.response}}</h5>
                    <p>{{error.warning}}</p>
                    <p>Parameter with error: {{error.paramWithError == 'tsyms'? 'target currency symbol': 'source currency symbol'}}</p>
                  </div>
                  <div v-show="networkError">
                    <div class="alert alert-warning">
                      <h5>Something went wrong</h5>
                      <p>
                        Your request could not be processed at this time due to some technical issue. If this persist, kindly contact the
                        <router-link to="contact">administrator</router-link>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col disclaimer">
                    <p class="disclaimer-source">
                      <span>Data provided by</span>
                      <a
                        class="text-decoration-none"
                        href="https://min-api.cryptocompare.com/documentation"
                      >Cryptocompare</a>
                    </p>
                    <p class="small">
                      <a href="#" class="text-decoration-none">Disclaimer</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <loading :trigger="trigger">
                <p>Processing data...</p>
              </loading>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// TODO: Consider conversions from crypto >> crypto; crypto >> fiat; fiat >> crypto
import Vue from "vue";
import axios from "axios";
import Vuelidate from "vuelidate";
import {
  minLength,
  maxLength,
  minValue,
  required,
  numeric
} from "vuelidate/lib/validators";
import Loading from "../Loading.vue";
import all_coins from "~/static/coins.json";
import supported_fiats from "~/static/currency.json";
Vue.use(Vuelidate);

export default {
  name: "CalculatorSingle",
  data() {
    return {
      coins: all_coins,
      fiat: supported_fiats,
      result: null,
      fromSymbol: null,
      toSymbol: null,
      amount: 0,
      isConverted: false,
      conversionDetails: null,
      error: {},
      errorOccurred: false,
      networkError: null,
      trigger: false,
      isCopied: false
    };
  },
  validations: {
    amount: {
      required,
      minValue: minValue(0.0)
    },
    fromSymbol: {
      required
    },
    toSymbol: {
      required
    }
  },
  mounted() {},
  watch: {
    result() {
      var event = new Date();
      var out =
        "<div><h5>Conversion date</h5>" +
        event.toLocaleDateString() +
        "</div>" +
        "<div><h5>Conversion time</h5>" +
        event.toTimeString() +
        "</div>";
      this.conversionDetails = out;
    }
  },
  methods: {
    copyText() {
      this.$refs.resultText.select();
      this.$refs.resultText.setSelectionRange(0, 99999);
      document.execCommand("copy");
      this.isCopied = true;
      var self = this;
      setTimeout(() => {
        self.isCopied = false;
      }, 3000);
    },
    resetCalculator() {
      this.networkError = false;
      this.errorOccurred = false;
      this.trigger = false;
      this.isConverted = false;
      this.result = null;
      this.amount = null;
      this.fromSymbol = null;
      this.toSymbol = null;
      this.$refs.calculatorForm.reset();
      this.$v.$reset();
    },
    async calculatePrice() {
      const url = "https://min-api.cryptocompare.com/data/price";
      const request = {
        tryConversion: true,
        fsym: this.fromSymbol,
        tsyms: this.toSymbol,
        relaxedValidation: true,
        extraParams: "Bitmast Explorer",
        sign: false
      };
      this.trigger = true;
      // if the form is not valid, return, else proceed.
      if (!this.$v.$error) {
        // process form
        this.errorOccurred = false;
      } else {
        this.errorOccurred = true;
        if (this.$v.amount.$error) {
          this.error.paramWithError = "Amount";
        }
        if (this.$v.fromSymbol.$error) {
          this.error.paramWithError = "Source Currency";
        }
        if (this.$v.toSymbol.$error) {
          this.error.paramWithError = "Target Currency";
        }
        if (this.error.paramWithError == null) {
          this.error.paramWithError = "Unknown";
        }
      }
      let response = await axios.post(url, request);
      const price = response.data[this.toSymbol];
      if (isNaN(price)) {
        this.isConverted = false;
        this.error = {
          paramWithError: response.data.ParamWithError,
          message: response.data.Message,
          warning: response.data.Warning,
          response: response.data.Response
        };
        this.errorOccurred = true;
      } else {
        this.result = price * Math.abs(this.amount);
        this.isConverted = true;
        this.trigger = false;
      }
      this.result = this.$options.filters.commaSeparator(this.result);
    }
  },
  components: {
    Vuelidate,
    Loading
  },

  filters: {
    commaSeparator(value) {
      let number = parseFloat(value);
      if (Number.isNaN(number)) {
        return value;
      } else {
        return new Intl.NumberFormat().format(number);
      }
    }
  }
};
</script>
<style scoped>
.price-symbol {
  visibility: hidden;
  display: none;
}
div.error input,
div.error select,
.form-error {
  border: 1px red solid;
  background-color: #ffbfbf;
  color: #5b5b5b;
}
.form-group.error input,
.form-group.error select {
  border: 1px red solid;
  background-color: #ffbfbf;
  color: #5b5b5b;
}
.form-error {
  padding: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
}
.error label {
  color: #5b5b5b;
}
div.alert {
  margin: 1rem auto;
}
.copied {
  position: relative;
  top: 0%;
  font-weight: bold;
  font-size: 1rem;
  color: red;
  background-color: #fff3cd;
  padding: 0.4rem;
  margin-top: 0.4rem;
}
</style>