

/* News Grid */
#news-pg .grid-row {
	margin-bottom: 27px;
}
#news-pg .grid-row p {
	margin: 0px !important;
}
#news-pg .grid-row a {
	text-decoration: none;
}
#news-pg .grid-row a:hover {
	text-decoration: none;
}
#news-pg .grid-row span {
	margin-top: 0.25em;
}
#news-pg .grid-row p {
	overflow-y: hidden;
	height: 5em;
}

.news-categories {
	height: 27em;
	overflow-y: auto;
	overflow-x: hidden;
}


#news-pg .news-more-btn {
    background: #f0f0f0;
}

#news-pg .news-more-btn:hover {
    background: #d0d0d0;
}