<template>
  <div id="app">
    <div id>
      <div class="bg">
        <div class="container">
          <div class="row">
            <div class="content">
              <!-- Navigation -->
              <navigation></navigation>
              <nuxt />

              <div class="clear"></div>
            </div>
            <default-footer></default-footer>
          </div>
          <div class="row">
            <div class="col">
              <share />
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import DefaultFooter from "../layouts/footer.vue";
import IndexHeader from "../layouts/header.vue";
import Navigation from "../components/generic/Navigation.vue";
import Share from "~/components/generic/Share.vue"

export default {
  name: "app",
  data() {
    return {};
  },
  methods: {},
  computed: {
    headerComponent() {
      // if the index page is selected set to indexheader else set to default
    }
  },
  components: {
    "default-footer": DefaultFooter,
    "index-header": IndexHeader,
    navigation: Navigation,
    Share
  }
};
</script>

<style >
body {
  background-image: linear-gradient(to bottom, #292c57, #8487a5 89%);
}

section.content-box {
  padding: 0.4em;
  min-height: 300px;
}

header {
  width: 100%;
}

nav {
  margin-bottom: 30px;
  padding: 10px auto;
  height: 54px;
  width: 100%;
  background: transparent;
  color: #ffffff;
}
nav .logo {
  padding: 0px !important;
}

section.content-box {
  background: #f7f7f7;
}

header.hero-cover .card {
  background: rgba(223, 213, 213, 0.7);
}

.bg {
  clear: both;
  margin: 0rem auto 0.25rem auto;
  padding-bottom: 10px;
  min-height: 900px;
}

.workspace {
  min-height: 810px;
}

.hero-cover {
  background: transparent url("../assets/images/bck.png") no-repeat 0% 0%;
}

.space {
  height: 0px;
  display: block;
  margin-bottom: 50px;
  content: "";
}

.calculator {
  min-height: 350px;
  min-width: 80%;
}

.calculator .card {
  width: 100%;
}

.content {
  width: 100%;
  padding: 0px;
  display: block;
}

.content-box .title {
  font-weight: bold;
  font-size: 1.1em;
}

.box {
  min-height: 150px;
  background: #ffffff;
  height: 100%;
}

.side-bar {
  background-image: linear-gradient(to bottom, #292c57, #8487a5 89%);
}

.grid-cell .card .card-footer {
  background: #f7f7f7;
}

.side-quick-menu {
  background-image: linear-gradient(to bottom #f7f7f7, #a0a0a0 65);
}

.news-categories {
  height: 27em;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-quick-menu .list-group-item {
  background: transparent;
  padding: 0px;
}

#to-symbol {
  background: #ffd700 !important;
  color: rgb(12, 15, 216);
}

#to-symbol option {
  background-color: #ffd700;
  color: rgb(12, 15, 216);
}

.side-quick-menu .list-group-item a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.75rem 1.25rem;
}
.side-quick-menu .list-group-item a:hover {
  text-decoration: none;
  background: #f0f0f0;
}

.component {
  width: 100% !important;
}
.component-wrapper {
  width: 100% !important;
}
.advert {
  background: url("../assets/images/pay-illustration.png") 10% 99.5% no-repeat;
  animation-duration: 3s;
  animation-delay: 0.5s;
}
a img {
  border: none !important;
}
a:visited img, a:link img {
  border: none !important;
}

*:link,
*:visited,
*:any-link {
  border: 0px none;
}
</style>