<template name="Page404">
    <div class="component">
        <div class="component-wrapper">
            <div data-component-name="error">
                <section class="content-box mx-auto p-3 rounded-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <nuxt-link to="/"><i class="fa fa-home">&nbsp;</i></nuxt-link>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <p class="display-2 text-center mx-auto error-heading" v-if="$nuxt.$route.status == 400">
                                    404
                                </p>                                
                                <p class="display-2 text-center mx-auto error-heading" v-else>An error occurred</p>
                                
                                <img class="rounded d-block mx-auto pt-2" src="~/assets/images/explorer_mascot_error.png" alt="Mr. Akproko idle"/>
                            </div>
                            <div class="col-12 text-center mt-0 error-body">
                                <h4>Co co..</h4>
                                <p>&quot;I cannot find the resource or page. Something isn't right&quot;</p>
                                <p class="small text-capitalize italic">Co co coo..</p>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>
</template>

<script>

export default {   
    layout: "page404" ,
    name: "Error",
    data(){
        return {}
    }
}
</script>
<style scoped>
i.fa-home {
    font-size: 3rem;
}
.error-heading {
    color: red;
    font-family: "Roboto"
}
.error-body {
    font-family: "Baloo"
}
</style>