<template name="DefaultFooter">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="default-footer">
        <footer class="rounded-bottom">
          <div class="container">
            <div class="row footer-top">
              <div class="col">
                <p class="text-justify">
                  <span class="font-weight-bold text-uppercase">Bitmast Explorer</span>, An online price comparative tool based on the CryptoCompare web services.
                  The information is provided by
                  Crypto Coin Comparison LTD and any other listed source. Use information "as is" and not as a financial or investment
                  tool. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy
                  , reliability, suitability or availability with respect to the website or the information, products, services, or
                  related graphics contained on the website for any purpose.
                </p>
                <p class="text-wrap"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <!-- Cookie Law -->
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col border-top border-white mx-2">
                    <h5 class="text-center pt-3">Attribution</h5>
                    <p class="text-justify pt-3">
                      Website content and design are managed by Bitmast Digital Services, editorial team.
                      Information used on the website are contents adopted from CryptoCompare and any other listed partner, content creator, contributor, or source.
                    </p>
                  </div>
                  <div class="col border-top border-white mx-2">
                    <h5 class="text-center pt-3">Terms of Use</h5>
                    <p class="text-justify pt-3">
                      Appropriate usage in line with legal constraints of resource owners
                      and third parties should be respected. For further details, see terms of usage
                      <a
                        class="text-primary"
                        href="http://www.cryptocompare.com/terms-conditions/"
                      >here</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p>This website uses cookies to improve user's experience</p>
              </div>
            </div>
            <div class="row footer-bottom rounded-bottom">
              <div class="col">
                &copy; Bitmast Explorer, 2019
                <p>
                  A product of
                  <a
                    href="http://www.bitmast.co"
                    target="_blank"
                    class="text-dark"
                  >Bitmast Digital Services Limited.</a>
                  <span class="text-warning font-weight-bold">RC 1528836</span>
                </p>
              </div>
              <div class="float-right pr-3">
                <div class="social-media">
                  <ul class="nav">
                    <li class="nav-item mx-1">
                      <a href="https://www.facebook.com/sharer.php?u=bitmast.co" target="_blank" class="text-warning"> <i class="fa fa-facebook">&nbsp;</i></a>
                    </li>
                    <li class="nav-item mx-1">
                      <a href="https://twitter.com/intent/tweet?url=bitmast.co" target="_blank" class="text-warning"> <i class="fa fa-twitter">&nbsp;</i></a>
                    </li>
                    <li class="nav-item mx-1">
                      <a
                        href="https://www.linkedin.com/shareArticle?mini=true&url=bitmast.co" class="text-warning"
                       target="_blank"> <i class="fa fa-linkedin">&nbsp;</i></a>
                    </li>
                  </ul>
                </div>
                <div class="small text-light font-italic mt-1">
                  <p class="p-0">Please share</p>
                </div>
              </div>
            </div>
            
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>
    
<script>

export default {
  name: "DefaultFooter",
  components: {
    
  }
};
</script>
<style scoped>
footer {
  background-color: #dcdcdc;
  margin-top: -5px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
footer .container {
  width: 100%;
}
footer .footer-top {
  padding-top: 45px;
}
footer .footer-bottom {
  background-image: linear-gradient(120deg, #dcdcdc, #000000 65%);
  padding-top: 15px;
}
footer h5 {
  font-size: 1rem;
  font-weight: bold;
}

.social-media a {
  font-size: 1.4em;
}
</style>