<template name="Header">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="index-header">
        <header class="hero-cover p-0 mx-auto">
          <div class="row">
            <div class="space col-lg-12"></div>            
            <div class="container">
              <div class="row">
                <div class="col">
                  <!-- Calculator Single -->
                  <calculator-single class="calculator-skin"></calculator-single>
                </div>
                <div class="col-3 advert animated shake"></div>
              </div>
              <!-- png -->
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
</template>

<script>
import CalculatorSingle from "../components/generic/calculator/Single.vue";

export default {
  name: "Header",
  data() {
    return {};
  },
  components: {
    "calculator-single": CalculatorSingle
  }
};
</script>