<template>
  <div id="app">
      <div class="bg">
        <div class="container">
          <div class="row mt-5">
            <div class="content">
              <nuxt />
            </div>
          </div>
          
        </div>
      </div>
  </div>
</template>

<script>
import Vue from "vue";
import DefaultFooter from "../layouts/footer.vue";

export default {
  name: "app",
  data() {
    return {};
  },
  methods: {},
};
</script>