<template name="Assets">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="Assets">
        <section class="content-box mx-auto p-3 rounded-lg">
          <div class="container">
            <div class="row">
              <div class="col" >
                <loading message="Loading data..." :trigger="trigger" />
                
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Cryptocurrencies</h4>
                  </div>
                  <div class="card-body">
                    <data-grid
                      v-once
                      :records="serverData"
                      v-if="displayData"
                    />
                    <div v-if="!(networkError || applicationError)" class="alert alert-warning">
                      <h5>Processing...</h5>
                      <p v-if="networkError">A network error occurred. You may refresh the page if no data is available</p>
                      <p v-if="applicationError">
                        An application error occurred. You may refresh the page if no data is available
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import DataGrid from "~/components/generic/AssetDataGrid.vue";
import coins from "~/static/cache/cryptocompare_all_coins.json";
import axios from "axios";
import Loading from "~/components/generic/Loading.vue"


export default {
  layout: "app",
  name: "Assets",

  data() {
    return {
      serverData: null,
      applicationError: false,
      networkError: false,
      trigger: true,
      displayData: false
    };
  },
  components: {
    DataGrid,    
    Loading
  },
  mounted() {
    setTimeout(()=>{
      const url = "https://min-api.cryptocompare.com/data/all/coinlist";
      axios.get(url, {extraParams: "Bitmast Explorer", sign: false }).then(response =>{
        this.serverData = response.data
        if(this.serverData != undefined) {
          this.networkError = false
          if (this.serverData.hasOwnProperty("Warning") || this.serverData.hasOwnProperty("Response")) {
            this.applicationError = true;   
            // fallback on the cached assets
            this.serverData = coins;                 
          }
          setTimeout(()=>{this.trigger = false}, 1000);
        } else {
          this.networkError = true;
          this.applicationError = false;
          this.serverData = coins
          setTimeout(()=>{this.trigger = false}, 1000);          
        }
        this.displayData = true

    }).catch(error => {}).finally(() => {
      setTimeout(()=>{this.trigger = false}, 1000);
    })    
    }, 500);

    this.$nextTick(() => {
      this.$nuxt.$loading.start();
      setTimeout(() => this.$nuxt.$loading.finish(), 1000);      
    });
    
  },
  async created(){
    
  },
  
};
</script>