<template name="Price">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="price">
        <section class="content-box mx-auto p-3 rounded-lg">
          <div class="container">
            <div class="row mb-3">
              <div class="col-12">
<div class="card">
                <div class="card-header">
                  <h4 class="card-title">Contact Form</h4>
                  <p>For inquiry or further information, use the form below</p>
                </div>
                <div class="card-body">
                  <div class="row form-background p-3">
                    <div class="col-7">
                      <form id="contactForm">
                        <input hidden value id="authenticity_token" v-model="xss_token" />
                        <div class="form-group">
                          <label for="requester_email">Email</label>
                          <input
                            id="requester_email"
                            class="form-control"
                            v-model="email"
                            @input="$v.email.$touch()"
                          />
                          <div class="error"></div>
                        </div>

                        <div class="form-group">
                          <label for="requester_mobile">
                            Mobile
                            <span>(optional)</span>
                          </label>
                          <input
                            id="requester_mobile"
                            class="form-control"
                            v-model="mobile"
                            @input="$v.mobile.$touch()"
                          />
                          <div class="error"></div>
                        </div>

                        <div class="form-group">
                          <label for="requester_request">Request/Enquiry details</label>
                          <textarea id="requester_request" class="form-control" v-model="request"></textarea>
                          <div class="error"></div>
                        </div>

                        <div class="form-group">
                          <label for="requester_email">Form requires captcha to be filled</label>
                          <vue-recaptcha
                            :sitekey="siteKey"
                            :loadRecaptchaScript="true"
                            class="d-block"
                          ></vue-recaptcha>
                          <button class="btn btn-primary mt-2">Validate</button>
                        </div>

                        <div class="form-group mt-5">
                          <button class="btn btn-success float-right">Submit</button>
                        </div>
                      </form>
                    </div>
                    <div class="col"></div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </section>
        
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Vuelidate from "vuelidate";
import { required, alphaNum, email } from "vuelidate/lib/validators";
import axios from "axios";
import VueRecaptcha from "vue-recaptcha";

Vue.use(Vuelidate);

export default {
  layout: "app",
  name: "Contact",
  data() {
    return {
      session: null,
      xss_token: null,
      email: null,
      mobile: null,
      request: null,
      feedback: false,
      trigger: false,
      siteKey: "6Lczn8YUAAAAAEZfoFy86Cdg49MfC-YHR0LjQnwt"
    };
  },
  methods: {
    processRequest() {
      // process the contact form
      const url = "https://bitmast.co/contact";
      var captcha = null;
      var is_valid = false;
    }
  },
  validations: {
    email: {
      email,
      required
    },
    mobile: {
      alphaNum
    }
  },
  components: {
    Vuelidate,    
    VueRecaptcha
  }
};
</script>

<style scoped>
.heading {
  font-weight: bold;
}
h5 {
  font-size: 2em;
}
.form-background {
  background: transparent url("../assets/images/logo-mask@2x.png") no-repeat 60% 85%;
}
</style>