<template>
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="exchanges">
        <section class="content-box mx-auto p-3 rounded-lg">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="p-3">
                  <h4 class="card-title">Exchanges</h4>                    
                </div>
              </div>
              <div class="col">
                <exchange-data-grid
                  v-for="(current, index) in activeItems"
                  :key="index"
                  :content="current"
                />
              </div>
            </div>

            <div class="row">
              <div class="col"></div>
              <div class="float-right mr-5">
                <component :is="'TinyPagination'" :total="pageTotal"
                  @tiny:change-page="nextPage"
                  @tiny:change-limit="changeLimit"
                  :limits="pageLimits"></component>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>

import { TinyPagination } from "vue-tiny-pagination";
import ExchangeDataGrid from "~/components/generic/exchange/ExchangeDataGrid.vue";
import all_exchanges from "~/static/cache/cryptocompare_all_exchanges.json";

export default {
  name: "exchanges",
  layout: "app",
  data() {
    return {
      content: {},
      exchanges: all_exchanges,
      activeItems: [],
      pageLimits: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
      pageCount: 10,
      pageStart: 0,
      trigger: true
    };
  },

  methods: {
    nextPage(pagination) {
      // for given count, push contents into activeItems
      var n = pagination.page;
      var pageEnd = this.pageCount;
      this.activeItems = [];
      this.pageStart = this.pageCount * n - pageEnd;
      if (pageEnd > this.pageStart && pageEnd < this.exchanges.length) {
        this.activeItems = this.exchanges.slice(this.pageStart, pageEnd);
      } else {
        if (this.pageCount * n < this.exchanges.length) {
          this.activeItems = this.exchanges.slice(
            this.pageStart,
            this.pageCount * n
          );
        }
      }
    },
    changeLimit(pagination) {
      this.pageCount = pagination.limit;
      this.nextPage({ page: 1 });
    }
  },
  
  components: {
    ExchangeDataGrid,
    TinyPagination,
    
  },
  created() {
    this.activeItems = this.exchanges.slice(0, this.pageCount);
  },
  computed: {
    pageTotal() {
      return Math.ceil(this.exchanges.length / 5);
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start();
      setTimeout(() => this.$nuxt.$loading.finish(), 3000);
    });

  }
};
</script>
