<template name="Index">
  <div class="Component">
    <div class="component-wrapper">
      <div class="header">
        <div class="row">
          <div class="col">
            <index-header></index-header>
          </div>
        </div>
      </div>

      <section class="content-box mx-auto p-3 rounded-lg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div data-component-name="switch-board">
        <div class="row">
          <div class="col box m-3 rounded switch">
            <h5 class="title h5 text-center pt-3">News</h5>
            <div class="p-3 text-justify">
              <img src="../assets/images/news.png" class="mx-auto d-block mb-3" />
              <p>Cryptocurrency News from various sources</p>
              <p class="text-right">
                <button class="btn btn-primary" @click="navigate('news')">View</button>
              </p>
            </div>
          </div>

          <div class="col box m-3 rounded switch">
            <h5 class="title h5 text-center pt-3">Exchanges</h5>
            <div class="p-3 text-justify">
              <img src="../assets/images/transfer-icon.png" class="mx-auto d-block mb-3" />
              <p>Exchanges information and transaction orders</p>
              <p class="text-right">
                <button type="button" @click="navigate('exchanges')" class="btn btn-primary">View</button>
              </p>
            </div>
          </div>

          <div class="col box m-3 rounded switch">
            <h5 class="title h5 text-center pt-3">Trades</h5>
            <div class="p-3 text-justify">
              <img src="../assets/images/trade.png" class="mx-auto d-block mb-3" />
              <p>Cryptocurrency trades and charts</p>
              <p class="text-right">
                <button @click="navigate('trades')" class="btn btn-primary">View</button>
              </p>
            </div>
          </div>

          <div class="col box m-3 rounded switch">
            <h5 class="title h5 text-center pt-3">Assets</h5>
            <div class="p-3 text-justify">
              <img src="../assets/images/assets.png" class="mx-auto d-block mb-3" />
              <p>Cryptocurrency assets and market information </p>
              <p class="text-right">
                <button @click="navigate('assets')" class="btn btn-primary">View</button>
              </p>
            </div>
          </div>

        </div>
        <div class="row">
            <top-trading-pairs></top-trading-pairs>
        </div>
      </div>
            </div>
          </div>
        </div>
      </section>

      
    </div>
  </div>
</template>
<script>
import Header from "../layouts/header.vue";
import TopTradingPairs from "../components/generic/trades/TopTradingPairs.vue";

export default {
  layout: "app",
  name: "Index",
  data() {
    return {};
  },
  methods: {
    navigate(target) {
      if (target == "news") {
        this.$emit("switchNavigation", "news");
        this.$router.push("/news");
      } else if (target == "exchanges") {
        this.$emit("switchNavigation", "exchanges");
        this.$router.push("/exchanges");
      } else if (target == "assets") {
        this.$emit("switchNavigation", "assets");
        this.$router.push("/assets");
      } else if (target == "trades") {
        this.$emit("switchNavigation", "trades");
        this.$router.push("/trades");
      }
    }
  },
  components: {
    "index-header": Header,
    "top-trading-pairs": TopTradingPairs
  },
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start();
      setTimeout(() => this.$nuxt.$loading.finish(), 1000);
    });
  },
};
</script>
<style scoped>

.header {
  background: transparent;
}
div[data-component-name="switch-compoent"] div.row {
  background: #f7f7f7;
}
.switch:hover {
  background-color: #ffead1;
}
</style>