<template name="News">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="news">
        <section class="content-box mx-auto p-3 rounded-lg">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <loading message="Loading data..." :trigger="trigger"></loading>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="container">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title">Crypto News Feed</h5>
                      <span class="sub-title">
                        Live feed from
                        <a
                          href="https://www.cryptocompare.com/news/list/latest/"
                          target="_blank"
                        >CryptoCompare</a>
                      </span>
                    </div>
                    <div class="card-body">
                      <news-data-grid
                        v-for="(item, index) in activeItems"
                        :key="index"
                        :item="item"
                      />
                    </div>

                    <div v-if="(networkError || applicationError)" class="alert alert-warning">
                      <h5>Processing...</h5>
                      <p
                        v-if="networkError"
                      >A network error occurred. You may refresh the page if no data is available</p>
                      <p
                        v-if="applicationError"
                      >An application error occurred. You may refresh the page if no data is available</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="float-right mr-5">
                <keep-alive>
                  <component
                    :is="'TinyPagination'"
                    :total="pageTotal"
                    @tiny:change-page="nextPage"
                    @tiny:change-limit="changeLimit"
                    :limits="pageLimits"
                  ></component>
                </keep-alive>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { TinyPagination } from "vue-tiny-pagination";
import NewsDataGrid from "../components/generic/NewsDataGrid.vue";
import Loading from "../components/generic/Loading.vue";
const newsUrl = "https://min-api.cryptocompare.com/data/v2/news/";

export default {
  layout: "app",
  name: "News",
  data() {
    return {
      activeItems: [],
      pageLimits: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
      pageCount: 10,
      pageStart: 0,
      activeItems: [],
      news: [],
      res: null,
      trigger: true,
      paginationComponent: "TinyPagination",
      networkError: false,
      applicationError: false
    };
  },
  methods: {
    nextPage(pagination) {
      // for given count, push contents into activeItems
      var n = pagination.page;
      var pageEnd = this.pageCount;
      this.activeItems = [];
      this.pageStart = this.pageCount * n - pageEnd;
      if (pageEnd > this.pageStart && pageEnd < this.news.length) {
        this.activeItems = this.news.slice(this.pageStart, pageEnd);
      } else {
        if (this.pageCount * n < this.news.length) {
          this.activeItems = this.news.slice(
            this.pageStart,
            this.pageCount * n
          );
        }
      }
    },
    changeLimit(pagination) {
      this.pageCount = pagination.limit;
      this.nextPage({ page: 1 });
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start();
      setTimeout(() => this.$nuxt.$loading.finish(), 1000);
      
      setTimeout(async () => {
        let response = await axios.get(newsUrl, {
          extraParams: "Bitmast Explorer",
          sign: false
        });
        const { Data } = response.data;
        if (Data != undefined || Data != false) {
          if (
            Data.hasOwnProperty("Warning") ||
            Data.hasOwnProperty("Response")
          ) {
            this.applicationError = true;
            this.networkError = false;
          } else {
            this.news = Array.from(Data);
            this.activeItems = Data.slice(0, this.pageCount);
            setTimeout(() => {this.trigger = false;}, 3000);
          }
        } else {
          this.networkError = true;
          this.applicationError = false;
        }
      }, 1000);
    });
  },
  components: {
    TinyPagination,
    NewsDataGrid,
    Loading
  }
};
</script>
<style scoped>
.card-title {
  font-size: 1.8rem;
}
</style>