<template name="Price">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="price">
        <section class="content-box mx-auto p-3 rounded-lg">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="row">
                    <div class="col-9"></div>
                  <div class="col">

                      <div class="custom-control custom-switch">                          
                          <input type="checkbox" class="custom-control-input" id="calculatorSwitch" @click="chooseCalculator">
                          <label class="custom-control-label" for="calculatorSwitch" >Switch Calculator</label>
                      </div>
                      
                  </div>
                  
                </div>
              </div>
              <div class="col-12">
                <div class="row" v-show="disable">
                  <div class="col">
                    <single-calculator theme="singlePriceTheme" />
                  </div>
                </div>
                <div class="row" v-show="!disable">
                  <div class="col">
                    <multiple-calculator />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import SingleCalculator from "../components/generic/calculator/Single.vue";
import MultipleCalculator from "../components/generic/calculator/Multiple.vue";

export default {
  layout: "app",
  name: "Price",
  data() {
    return {
      enableSingle: true,
      enableMultiple: true,
      singlePriceTheme: {
        backgroundColor: "#7b7b7b"
      },
      disable: true
    };
  },
  components: {
    "single-calculator": SingleCalculator,
    "multiple-calculator": MultipleCalculator
  },
  methods: {
    chooseCalculator() {
      this.disable = !this.disable;
    }
  }
};
</script>

<style scoped>
.price-single .calculator .card {
  background-color: #9a9a9a;
}
.custom-switch .custom-control-label::before {
  background-color: #2b2e59;
}
.custom-switch .custom-control-label::after {
  background-color: #e4e5ea;
}
.disclaimer a,
.disclaimer-source a {
  color: #000;
}
.disclaimer a:hover,
.disclaimer-source a:hover {
  color: #d8d8d8;
}
.visible {
  display: none;
  visibility: hidden;
}
</style>