<template name="TradeCharts">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="trade-charts">
        <section class="content-box mx-auto p-3 rounded-lg">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <loading :trigger="trigger" />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Trades and Charts</h4>
                  </div>
                  <div class="card-body">
                    <div class="row" v-for="(chart, index) in charts" :key="index">
                      <div class="col">
                        <charts
                          :width="chart.width"
                          :height="chart.height"
                          :symbol="chart.symbol"
                          :interval="chart.interval"
                          :timezone="chart.timezone"
                          :theme="chart.theme"
                          :chart_style="chart.chart_style"
                          :locale="chart.locale"
                          :toolbar_bg="chart.toolbar_bg"
                          :enable_publishing="chart.enable_publishing"
                          :allow_symbol_change="chart.allow_symbol_change"
                          :container_id="chart.container_id"
                          :chart_title="chart.chart_title"
                        ></charts>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import Charts from "~/components/generic/trades/Charts.vue";
import Loading from "~/components/generic/Loading.vue";

export default {
  layout: "app",
  name: "TradeCharts",
  data() {
    return {
      trigger: true,
      charts: [
        {
          width: 980,
          height: 600,
          symbol: "BITSTAMP:BTCUSD",
          interval: "D",
          timezone: "Etc/UTC",
          theme: "Light",
          chart_style: "1",
          locale: "en",
          toolbar_bg: "#f1f3f6",
          enable_publishing: false,
          allow_symbol_change: true,
          container_id: "tradingview_7f77e",
          chart_title: "BTC/USD Chart"
        },
        {
          width: 980,
          height: 600,
          symbol: "BITSTAMP:ETHUSD",
          interval: "D",
          timezone: "Etc/UTC",
          theme: "Light",
          chart_style: "1",
          locale: "en",
          toolbar_bg: "#f1f3f6",
          enable_publishing: false,
          allow_symbol_change: true,
          container_id: "tradingview_7f76f",
          chart_title: "ETH/USD Chart"
        },
        {
          width: 980,
          height: 600,
          symbol: "FX_IDC:NGNUSD",
          interval: "D",
          timezone: "Etc/UTC",
          theme: "Dark",
          chart_style: "1",
          locale: "en",
          toolbar_bg: "#f1f3f6",
          enable_publishing: false,
          allow_symbol_change: true,
          container_id: "tradingview_rf75w",
          chart_title: "NGN/USD Chart"
        },
        {
          width: 980,
          height: 600,
          symbol: "BINANCE:BTCNGN",
          interval: "D",
          timezone: "Etc/UTC",
          theme: "Dark",
          chart_style: "1",
          locale: "en",
          toolbar_bg: "#f1f3f6",
          enable_publishing: false,
          allow_symbol_change: true,
          container_id: "tradingview_W575w",
          chart_title: "BTC/NGN Chart"
        }
      ]
    };
  },
  components: {
    Charts,
    Loading
  },
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start();
      setTimeout(() => this.$nuxt.$loading.finish(), 1000);
      setTimeout(() => (this.trigger = false), 5000);
    });
  }
};
</script>