<template name="ExchangeDataGrid">
  <div class="component">
    <div class="component-wrapper">
      <div data-component-name="exchange-data-grid">          
        <div class="container p-3 mt-3">
          <div class="grid-row mb-4" >
            <div class="col grid-cell">
              <div class="card shadow">
                <div class="card-header">
                  <h5 class="card-title">
                    <a
                      :href="content.AffiliateURL"
                      target="_blank"
                      class="card-link d-block"
                    >{{content.Name}}</a>
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <img
                        class="img-thumbnail rounded lozad"
                        :src="'https://www.cryptocompare.com'+ content.LogoUrl"
                        :alt="content.Name"
                      />
                    </div>
                    <div class="col">
                      {{content.Description}}
                      <a
                        :href="content.AffiliateURL"
                        target="_blank"
                        class="card-link d-block"
                      >{{content.AffiliateURL}}</a>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <div class="row">
                    <div class="col-12">
                      <div class="trading-commodity clearfix">
                        <strong class="px-3">Traded Commodities</strong>
                        <ul class="list-inline pl-3">
                          <li
                            v-for="(commodity, idx) in content.ItemType"
                            :key="idx"
                            class="list-inline-item"
                            title="Item type"
                          >
                            <i class="fa fa-money-bill-wave">&nbsp;</i>
                            <span>{{commodity}}{{idx + 2 > content.ItemType.length ? "": ","}}</span>
                          </li>

                          <li></li>
                        </ul>
                      </div>
                      <div class="statistics clearfix">
                        <ul class="list-inline p-3">
                          <li class="list-inline-item" title="Trades">
                            <i class="fa fa-shopping-cart">&nbsp;</i>
                            <span
                              class="value stats"
                            >Trading:&nbsp;{{content.Trades == true ? 'Yes': 'No'}}</span>
                          </li>
                          <li class="list-inline-item" title="Country">
                            <i class="fa fa-font-awesome-flag">&nbsp;</i>
                            <span class="value stats">Location:&nbsp;{{content.Country}}</span>
                          </li>
                          <li class="list-inline-item" title="Grade">
                            <i class="fa fa-graduation-cap">&nbsp;</i>
                            <span class="value stats">Grade:&nbsp;{{content.Grade}}</span>
                          </li>

                          <li class="list-inline-item last" title="Grade point">
                            <i class="fa fa-percent">&nbsp;</i>
                            <span class="value stats">Grade point:&nbsp;{{content.GradePoints}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import lozad from "lozad";
export default {
  name: "ExchangeDataGrid",
  data() {
    return {
      
    };
  },
  props: {
      content: Object
  },
  mounted() {
    const observer = lozad();
    observer.observe();
  }
};
</script>
<style scoped>
.grid-row .card-footer {
  background-image: linear-gradient(120deg, #f7f7f7, #626586 65);
}
.grid-row img {
  width: 150px;
  height: 150px;
}
.grid-row h5 a {
  color: #77787d;
}
.grid-row h5 a:hover {
  text-decoration: none;
  color: #3f426a;
}
.grid-row a.card-link {
  margin-top: 5px;
}
.trading-commodity span {
  font-size: 1rem;
}
.trading-commodity li {
  margin: 0px;
  padding: 0px;
}
.statistics li {
  border-right: 1px #c0c0c0 solid;
  padding: 0rem 0.125rem;
}
.statistics li.last {
  border: none;
}
.statistics span {
  color: #000;
  font-size: 1rem;
  margin-right: 0.7rem;
}
.stats {
  color: #2a2d58;
  font-size: 0.85rem;
  font-family: "Courier New", Courier, monospace;
}
.card-title .card-link {
  font-weight: bold;
  font-size: 1.3rem;  
}

</style>